@font-face {
    font-family: Crimson;
    src: url("../../Crimson.ttf");
}
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Crimson;
    letter-spacing: 1.2px;
}
body {
    background-color: #f5f5f5;
    overflow-x: hidden;
}
.background {
    position: absolute;
    left: 0;
    top: 0;
    height: 65vh;
    width: 100vw;
    overflow: hidden;
    background: url("ballons.jpg") center/cover no-repeat;
    clip-path: polygon(0 0, 100% 0%, 100% 86%, 0 96%);
    transition: all 1s;
    z-index: -1;
}
header {
    position: relative;
    background: linear-gradient(rgb(121, 1, 5,.4),rgba(100, 104, 136, 0.3));
    clip-path: polygon(0 0, 100% 0%, 100% 86%, 0 96%);
    transition: all 1s;
    min-height: 65vh;
    margin-bottom: 1.5rem;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 75px;
    padding: .5rem;
    backdrop-filter: blur(4px);
}
.nav_element {
    border: none;
    border-radius: 25px;
    font-size: 1.25rem;
    padding: .3rem .8rem;
    color: white;
    background: transparent;
    backdrop-filter: blur(4px);
}
.nav_element:last-child {
    margin-right: 1rem;
}
.title {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 28rem;
    font-size: 2.2rem;
    color: white;
}
main {
    display: flex;
    position: relative;
}
#weatherMap {
    margin: 1rem 0;
    border-top-left-radius: 7px;
    margin: 20px 30px;
    z-index: 10;
}
.mapBackground {
    position: absolute;
    right: 0px;
    top: -15px;
    height: 750px;
    width: 450px;
    border-top-left-radius: 25px;
    background-color: #ffdfba;
    z-index: -1;
}
.weatherIcon {
    position: absolute;
    left: -25px;
    bottom: -20px;
    height: 60px;
}
.weatherText {
    position: absolute;
    left: -6px;
    bottom: -20px;
    font-size: 1.4rem;
    color: #c48818;
    font-weight: bold;
}
.weatherText:last-child {
    transform: translate(-15px,10px);
    transform-origin: center;
}
.mapCities {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    height: 500px;
    margin-left: .8rem;
    margin-top: 1.3rem;
    text-align: center;
    color:  rgb(129, 120, 120);
}
.listTitle {
    background-color: #bae1ff;
    border-radius: 10px;
    margin-bottom: .8rem;
    padding: .6rem;
}
.list {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 3rem;
    align-items: center;
}
.mapCities .btn {
    background-color: #bae1ff;
    list-style-type: none;
    border-radius: 8px;
    padding: 2px 40px;
    font-size: 1.3rem;
    margin: .3rem 1rem;
    color: rgb(129, 120, 120);
    border: none;
}
footer {
    display: grid;
    grid-template-columns: auto 2% 1fr;
    align-items: center;
    position: relative;
    margin-top: 40px;
    bottom: -7px;
    background-color: rgb(181, 234, 215,.5);
    background-blend-mode: multiply;
    grid-template-rows: auto auto;
    clear: both;
}
svg {
    height: 25px;
    fill: black;
    opacity: .7;
    margin: 11px 8px 8px 8px;
}
svg:first-child {
    margin-left: 16px;
}
svg:last-child {
    margin-right: 16px;
}
.fb:hover {
    fill: #026cee;
}
.ln:hover {
    fill: #0077B7;
}
a {
    text-decoration: none;
}
@media screen and (min-width: 1500px) {
    main {
        float: right;
    }
    .mapBackground {
        width: 700px;
        height: 708px;
    }    
}
@media screen and (min-width:1150px) {
    .mapBackground {
        width: 600px;
    }  
}
@media screen and (max-width: 950px){
    main {
    }
}
@media screen and (max-width:870px) {
    .logo {
        height: 50px;
    }
    .nav_element {
        font-size: .8rem;
    }
    .title {
        width: 22.3rem;
        font-size: 1.7rem;
    }
}