@font-face {
    font-family: Crimson;
    src: url("../../Crimson.ttf");
}
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Crimson;
    letter-spacing: 1.2px;
}
body {
    background-color: #f5f5f5;
    overflow-x: hidden;
}
.background {
    position: absolute;
    left: 0;
    top: 0;
    height: 65vh;
    width: 100vw;
    overflow: hidden;
    background: url("ballons.jpg") center/cover no-repeat;
    clip-path: polygon(0 0, 100% 0%, 100% 86%, 0 96%);
    transition: all 1s;
    z-index: -1;
}
header {
    position: relative;
    background: linear-gradient(rgb(121, 1, 5,.4),rgba(100, 104, 136, 0.3));
    clip-path: polygon(0 0, 100% 0%, 100% 86%, 0 96%);
    transition: all 1s;
    min-height: 65vh;
    margin-bottom: 1.5rem;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 75px;
    padding: .5rem;
    backdrop-filter: blur(4px);
}
.nav_element {
    border: 2px solid white;
    border-radius: 25px;
    font-size: 1.25rem;
    padding: .3rem .8rem;
    color: white;
    background: transparent;
    backdrop-filter: blur(4px);
}
.nav_element:last-child {
    margin-right: 1rem;
}
.title {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 28rem;
    font-size: 2.2rem;
    color: white;
}
main {
    display: flex;
    position: relative;
    justify-content: center;
}
#weatherMap {
    margin: 1rem 0;
    border-top-right-radius: 7px;
    z-index: 10;
}
.mapBackground {
    position: absolute;
    right: 193px;
    top: -15px;
    height: 95vh;
    width: 60vw;
    border-top-right-radius: 25px;
    background-color: rgb(138, 58, 11,.9);
    z-index: 0;
}
.weatherIcon {
    position: absolute;
    left: -25px;
    bottom: -20px;
    height: 60px;
}
.weatherText {
    position: absolute;
    left: -17px;
    bottom: -32px;
    font-size: 1.4rem;
    color: #c48818;
    font-weight: bold;
}
@media screen and (max-width:870px) {
    .logo {
        height: 50px;
    }
    .nav_element {
        font-size: .8rem;
    }
    .title {
        width: 22.3rem;
        font-size: 1.7rem;
    }
}
@media screen and (max-width: 600px){
    
}